@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    /* letter-spacing: -0.025em; */
    line-height: 1;
    word-break: keep-all;
    color: #333;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

address,
em {
    font-style: normal;
}

strong,
b {
    font-weight: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

button,
input,
textarea {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

    vertical-align: middle;
}

button {
    border: none;
    background: transparent;
    font-size: inherit;
}


.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}


.inner {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 16px;
}

._sec {
    padding: 80px 0;
}

.title {
    text-align: center;
    margin: 0 0 32px 0;
}

.title h2 {
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 8px 0;
}

.title p {
    font-size: 16px;
    font-weight: 300;
}