:root {
    --mc: #2D58B5;
    --sc: #003399;
    --lc: #F0F8FF;
    --bg: #DDDCDC;
    --wc: #ffffff;
}

/* * {
    outline: 1px solid tomato;
} */

#header {
    position: sticky;
    top: 0;
    z-index: 999;
    background: var(--wc);
}

#header.on {
    border-bottom: 1px solid var(--bg);
}

#header .inner {
    position: relative;
    height: 100px;
    display: flex;
    align-items: center;
}

#header .gnb button {
    height: 100px;
    width: 100px;
    background: var(--mc);
    color: var(--wc);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;

    cursor: pointer;
}

#header .gnb button i {
    font-size: 0;
}

#header .gnb button i::before {
    font-size: 32px;
}

#header .gnb .dth1 {
    /* display: none; */
    position: absolute;
    top: 100px;
    left: 16px;
    /* width: 100%; */
    border: 1px solid #ddd;
}

/* #header .gnb .dth1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: calc(100% - 32px);
    height: 480px;
    background: var(--lc);
    z-index: -1;
} */

#header .gnb .dth1>li {
    line-height: 40px;
    width: 200px;
    padding: 0 32px;
    background: var(--wc);
    border-right: 1px solid var(--bg);
}

#header .gnb .dth1>li:hover {
    background: var(--lc);
}

#header .gnb .dth1>li .sub {
    display: none;
    position: absolute;
    top: 0;
    left: 216px;
    width: 200px;
    padding: 0 32px;
    background: var(--wc);
}

#header .gnb .dth1>li:hover .sub {
    display: block;
}

#header h1 {
    margin: 0 auto 0 80px;
}

#header .inner .customer {
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 500;
}

#header .customer .lang {
    padding: 6px 16px;
    border-radius: 32px;
    border: 1px solid var(--bg);
}

#header .customer .lang>a i {
    font-size: 14px;
    vertical-align: middle;
}

#header .customer .lang>ul {
    display: none;
}

#header .customer .lang.on>ul {
    display: block;
}

#header .customer .search i {
    font-size: 24px;
}

#main_visual {
    position: relative;
}

#main_visual .main_slide {
    position: relative;
    height: 600px;
}

#main_visual .main_slide .bg::after {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: rgba(0, 0, 0, 0.35);
}


#main_visual .bg01 {
    background: url(../images/main_bg01.jpg)no-repeat center center/cover;
}

#main_visual .bg02 {
    background: url(../images/main_bg02.jpg)no-repeat center center/cover;
}

#main_visual .bg03 {
    background: url(../images/main_bg03.jpg)no-repeat center center/cover;
}

#main_visual .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--wc);
    z-index: 998;
    line-height: 44px;

    font-size: 40px;
    font-weight: 100;
    text-align: right;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    animation: up .8s ease-in;
}

@keyframes up {
    0% {
        opacity: 0;
        transform: translate(-50%, 300px);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

#main_visual .slogan::after {
    content: "";
    position: absolute;
    background: url(../images/bg_logo.png)center center/contain;
    top: 50%;
    left: 50%;
    width: 175px;
    height: 250px;
    transform: translate(100px, -145px);
    z-index: 998;
}

#main_visual .slogan span {
    font-weight: 700;
}

#main_menu .inner {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: -80px auto 0 auto;
    height: 160px;
    z-index: 998;
}

@media screen and (max-width:1023px) {
    #main_menu .inner {
        grid-template-columns: repeat(1, 1fr);
    }
}

#main_menu .inner li {
    background: var(--lc);
    padding: 0 40px;
    display: flex;
    align-items: center;
}

#main_menu .inner li:nth-child(1) {
    background: #f5f5f5;
}

#main_menu .inner li strong {
    display: block;
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 8px 0;
}

#main_menu .inner li .input_con {
    margin: 0 8px 0 auto;
}

#main_menu .inner li .search_box {
    border-radius: 30px;
    border: none;
    padding: 8px 16px;
    font-size: 15px;
}

#main_menu .inner li a {
    display: inline-block;
    padding: 8px 16px;
    font-size: 15px;
    background: var(--sc);
    color: var(--wc);
    border-radius: 16px;
}

#main_service .inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

@media screen and (max-width:1023px) {
    #main_service .inner {
        display: grid;
        grid-template-columns: 1fr;
        gap: 32px;
    }
}

#main_service .service_ico {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;

}


@media(max-width:768px) {
    #main_service .service_ico {
        grid-template-columns: repeat(2, 1fr);
    }
}

#main_service .service_ico>li {
    text-align: center;
    padding: 24px 0;
    border: 1px solid var(--bg);
    border-radius: 24px;
}

#main_service .service_ico>li .ico_box {
    background: var(--lc);
    border-radius: 50%;
    width: 88px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 16px auto;
}


#main_service .service_ico>li img {
    width: 40%;
}

#main_service .service_doc {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 4px;
}

@media(max-width:768px) {
    #main_service .service_doc {
        grid-template-columns: repeat(1, 1fr);
    }
}

#main_service .service_doc>li {
    /* background: var(--lc); */
    background: #f5f5f5;
    padding: 16px 40px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main_service .service_doc>li::after {
    content: "\F143";
    font-family: bootstrap-icons;
    font-size: 20px;
    padding: 12px;
    background: var(--sc);
    color: var(--wc);
    border-radius: 50%;
}

#main_service .service_doc>li strong {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 4px 0;
}

#main_service .service_doc>li i {
    font-size: 32px;
    display: inline-block;
    align-self: flex-end;
}

#main_center_info {
    position: relative;
    background: #f5f5f5;
}

#main_center_info .inner {
    /* overflow: hidden; */
}

#main_center_info .center_tit {
    display: flex;
    gap: 17px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    width: 100%;
    margin: 0 auto 32px auto;
}

#main_center_info .center_tit li {
    position: relative;
    font-size: 18px;
    color: #555;
}

#main_center_info .center_tit li.on {
    color: var(--sc);
    font-weight: 700;
}

#main_center_info .center_tit li~li::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -8px;
    transform: translate(0, -50%);
    height: 12px;
    width: 1px;
    background: #ddd;
}

#main_center_info .center_slide figure {
    position: relative;
    max-width: 1408px;
    width: 100%;
    height: 540px;
    opacity: 0.5;
}


#main_center_info figure .img_box {
    position: absolute;
    inset: 0 0 0 0;
    height: 423.4px;
}

#main_center_info figure .img_box img {
    height: 100%;
}

#main_center_info figure .txt_box {
    position: absolute;
    display: none;
    flex-direction: column;
    bottom: 0;
    right: 64px;
    background: var(--wc);
    width: 400px;
    height: 510px;
    padding: 24px 30px;
    z-index: 998;
    background: var(--wc);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#main_center_info figure .txt_box::after {
    content: "";
    position: absolute;
    top: 40px;
    left: -26px;
    background: var(--mc);
    width: 48px;
    height: 2px;
}

#main_center_info figure .txt_box span {
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 4px 0;
}

#main_center_info figure .txt_box h3 {
    position: relative;
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
    margin: 0 0 16px 0;
}

#main_center_info figure .txt_box strong {
    font-size: 18px;
    font-weight: 800;
    margin: 0 0 12px 0;
}

#main_center_info figure .txt_box p {
    margin: 0 0 auto 0;
    font-size: 16px;
    line-height: 20px;
    color: #555;
}

#main_center_info figure .txt_box a {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border: 1px solid var(--mc);
    color: var(--mc);
}

#main_center_info figure .txt_box a::after {
    content: "\F285";
    font-family: bootstrap-icons;
    font-size: 16px;
    vertical-align: middle;

}

#main_center_info figure .txt_box a:hover {
    color: var(--wc);
    transition: color .35s;
}

#main_center_info figure .txt_box a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left;
    background: var(--mc);
    z-index: -1;
}

#main_center_info figure .txt_box a:hover::before {
    transform: scaleX(1);
    transition: .35s ease-in;
}

#main_center_info .center_slide .swiper-slide-active {
    opacity: 1;
}

#main_center_info .center_slide .swiper-slide-active .txt_box {
    display: flex;
}

#main_center_info .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 998;
    max-width: 1408px;
    width: 100%;
}

#main_center_info .arrows i {
    font-size: 32px;
    padding: 8px 24px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    color: #666;
    cursor: pointer;
}

#main_center_info .arrows i:hover {
    background: var(--mc);
    color: var(--bg);
    transition: .4s;
}

#main_center_info .arrows .left {
    position: absolute;
    transform: translate(-50%, 0);
    left: 0;
}

#main_center_info .arrows .right {
    position: absolute;
    transform: translate(50%, 0);
    right: 0;
}


#main_center_info .swiper-pagination {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);

}

#main_center_info .swiper-pagination-bullet {
    height: 12px;
    width: 12px;
}

#main_center_info .swiper-pagination-bullet-active {
    background: var(--mc);
}

#main_health .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

@media(max-width:768px) {
    #main_health .content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 32px;
    }
}

#main_health .content>* {
    border: 1px solid var(--mc);
    overflow: hidden;
}

#main_health .content h3 {
    font-size: 24px;
    font-weight: 600;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#main_health .content h3::after {
    content: " \F4F9";
    font-family: bootstrap-icons;
    color: var(--sc);
}

#main_notice .inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

@media(max-width:768px) {
    #main_notice .inner {
        grid-template-columns: repeat(1, 1fr);
        gap: 32px;
    }
}

#main_notice .tab {
    font-size: 18px;
    font-weight: 700;
    display: flex;
}

#main_notice .tab>li {
    position: relative;
    padding: 16px 16px;
}

#main_notice .tab>li:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--mc);
}

#main_notice .tab>li.on::after {
    width: 100%;
    transition: .4s;
}

#main_notice .tab_area {
    position: relative;
    background: #ddd;
    height: 400px;
}

#main_notice .tab_area ul {
    position: absolute;
    inset: 0 0 0 0;
    padding: 24px 32px;
    display: none;
    opacity: 0;
}

#main_notice .tab_area ul.on {
    display: flex;
    flex-direction: column;
    opacity: 1;
}



#main_notice .tab_area ul>li {
    font-size: 18px;
    background: #fff;
    flex: 1;
}

#footer {
    padding: 80px 0;
}

#footer .top {
    background: var(--bg);
}

#footer .top .footer_menu {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 16px;
    padding: 12px 120px;
}

#footer .top .footer_menu>li {
    flex: 1;
    font-weight: 600;
    padding: 16px 0;
    border: 1px solid #ccc;
    background: #f5f5f5;
    cursor: pointer;
}

#footer .bottom {
    background: #444;
}

#footer .bottom .inner {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding: 30px 16px;
}

#footer .bottom .tel a {
    font-size: 24px;
    font-weight: 700;
    color: var(--wc);
}

#footer .bottom .tel i {
    font-size: 24px;
    padding: 6px 8px;
    background: var(--wc);
    color: #444;
    border-radius: 50%;
    margin: 0 16px 0 0;
}

#footer .bottom .footer_link {
    display: flex;
    text-align: center;
    justify-content: center;
}

#footer .bottom .footer_link>li {
    flex: 1;
    font-weight: 600;
    padding: 16px 0;
    border: 1px solid #ccc;
    background: #f5f5f5;
    cursor: pointer;
}

#footer .footer_customer {
    padding: 26px 0 0 0;
}

#footer .footer_customer>ul {
    margin: 0 0 18px 0;
}

#footer .footer_customer>ul>li {
    position: relative;
    display: inline-block;
    margin-right: 15px;
    font-size: 14px;
}

#footer .footer_customer>ul>li~li::after {
    content: "";
    position: absolute;
    left: -8px;
    top: 50%;
    transform: translate(0, -50%);
    width: 1px;
    height: 12px;
    background: #999;
}

#footer .footer_customer>ul>li strong {
    font-weight: 700;
}

#aside .link_sns {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 998;
}

#aside .link_sns>li {
    padding: 0 32px 0 16px;
    background: var(--sc);
    line-height: 64px;
    transform: translateX(100px);
    font-weight: 600;
    cursor: pointer;
}

#aside .link_sns>li:last-child:hover i {
    background: red;
}

#aside .link_sns>li:hover {
    transform: translateX(0);
    background: var(--bg);
    transition: .3s;
}

#aside .link_sns>li i {
    font-size: 24px;
    padding: 4px 6px;
    margin: 0 16px 0 0;
    border-radius: 50%;
    vertical-align: middle;
    color: var(--bg);
}

#aside .link_sns>li:hover i {
    background: var(--sc);
}