:root {
    --mc: #2D58B5;
    --sc: #003399;
    --lc: #F0F8FF;
    --bg: #DDDCDC;
    --wc: #ffffff;
}


/* * {
    outline: 1px solid tomato;
} */

#header {
    position: sticky;
    top: 0;
    z-index: 999;
    background: var(--wc);
}

#header.on {
    border-bottom: 1px solid var(--bg);
}

#header .inner {
    position: relative;
    height: 100px;
    display: flex;
    align-items: center;
}

#header .gnb button {
    height: 100px;
    width: 100px;
    background: var(--mc);
    color: var(--wc);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;

    cursor: pointer;
}




#header .gnb button i {
    font-size: 0;
}

#header .gnb button i::before {
    font-size: 32px;
}


#header .gnb .dth1 {
    display: none;
    position: absolute;
    top: 100px;
    left: 16px;
    /* width: 100%; */
    border: 1px solid #ddd;
}

#header .gnb:hover .dth1 {
    display: block;
}

#header .gnb.on .dth1 {
    display: block;
}

@media(max-width:768px) {
    #header .gnb .dth1 {
        display: none;
        position: fixed;
        top: 100px;
        left: 0;
        width: 100%;
        height: calc(100vh - 100px);
        background: var(--wc);
    }

    #header .gnb .dth1>li {
        background: transparent;
        border-right: 0px solid var(--bg);
    }
}


#header .gnb .dth1>li {
    line-height: 40px;
    width: 200px;
    padding: 0 32px;
    background: var(--wc);
    border-right: 1px solid var(--bg);
}

#header .gnb .dth1>li:hover {
    background: var(--lc);
}

#header .gnb .dth1>li .sub {
    display: none;
    position: absolute;
    top: -1px;
    left: 200px;
    width: 200px;
    padding: 0 32px;
    background: #f7f7f7;
    color: #444;
}

@media(max-width:768px) {
    #header .gnb .dth1>li .sub {
        display: none;
        position: static;
    }
}

#header .gnb .dth1>li .sub li:hover {
    text-decoration: underline;
}

#header .gnb .dth1>li:hover .sub {
    display: block;
}

#header h1 {
    margin: 0 auto 0 80px;
}

#header .inner .customer {
    display: flex;
    align-items: center;
    gap: 16px;
}

@media(max-width:768px) {
    #header .inner .customer {
        display: none;
    }
}

#header .customer .lang {
    padding: 6px 16px;
    border-radius: 32px;
    border: 1px solid var(--bg);
}

#header .customer .lang>a i {
    font-size: 14px;
    vertical-align: middle;
}

#header .customer .lang>ul {
    display: none;
}

#header .customer .lang.on>ul {
    display: block;
}

#header .customer .search i {
    font-size: 24px;
}

#main_visual {
    position: relative;
}

#main_visual .main_slide {
    position: relative;
    height: 600px;
}

#main_visual .main_slide .bg::after {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: rgba(0, 0, 0, 0.35);
}


#main_visual .bg01 {
    background: url(../images/main_bg01.jpg)no-repeat center center/cover;
}

#main_visual .bg02 {
    background: url(../images/main_bg02.jpg)no-repeat center center/cover;
}

#main_visual .bg03 {
    background: url(../images/main_bg03.jpg)no-repeat center center/cover;
}

#main_visual .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--wc);
    z-index: 998;
    line-height: 44px;

    font-size: 40px;
    font-weight: 100;
    text-align: right;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    animation: up .8s ease-in;
}

@keyframes up {
    0% {
        opacity: 0;
        transform: translate(-50%, 300px);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

#main_visual .slogan::after {
    content: "";
    position: absolute;
    background: url(../images/bg_logo.png)center center/contain;
    top: 50%;
    left: 50%;
    width: 175px;
    height: 250px;
    transform: translate(100px, -145px);
    z-index: 998;
}

#main_visual .slogan span {
    font-weight: 700;
}


@media(max-width:768px) {
    #main_visual .slogan::after {
        display: none;
    }
}

.main_menu {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0 -704px 0 0;
    z-index: 998;
}

.main_menu li {
    background: #fff;
    padding: 40px 60px;
}


.main_menu li strong {
    display: block;
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 8px 0;
}

.main_menu li .input_con {
    margin: 0 8px 0 auto;
}

.main_menu li .search_box {
    border-radius: 10px;
    border: none;
    padding: 8px 16px;
    font-size: 15px;
    border: 1px solid var(--bg);
}

.main_menu li a {
    display: inline-block;
    padding: 8px 16px;
    font-size: 15px;
    background: var(--sc);
    color: var(--wc);
    border-radius: 16px;
}

#main_service {
    position: relative;
    height: 180px;
    margin: -90px 0 0 0;
    z-index: 998;
}

#main_service .inner_content {
    border-radius: 24px;
    background: var(--wc);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 0 180px;
}

#main_service .service_slide {
    height: 180px;
}


#main_service .service_slide .itm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    text-align: center;
}

#main_service .service_slide .itm span {
    position: relative;
    font-size: 16px;
    font-weight: 500;
}


#main_service .service_slide .itm span::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 1px;
    background: var(--mc);
}

#main_service .service_slide .itm:hover span::after {
    width: 100%;
    transition: width 0.4s;
}


#main_service .service_slide .itm .ico_box {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 24px;
    width: 88px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 16px auto;
    border: 1px solid #f7f7f7;
}

#main_service .service_slide .itm:hover .ico_box {
    background: var(--wc);
    box-shadow: rgba(0, 0, 0, 0.1) 8px 20px 35px;
    border: 1px solid transparent;
    transition: 0.4s;
}

#main_service .service_slide .itm i {
    font-size: 32px;
}

#main_service .service_slide .itm img {
    width: 40%;
}

.service_arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 998;
    max-width: 1200px;
    width: 100%;
}

.service_arrows i {
    font-size: 32px;
    color: #666;
    cursor: pointer;
}


.service_arrows .left {
    position: absolute;
    transform: translate(0, -50%);
    left: 0;
}

.service_arrows .right {
    position: absolute;
    transform: translate(0, -50%);
    right: 0;
}

/* ----------------------------------------------------------------------------------------- */

#main_center_info {
    position: relative;
}


#main_center_info .center_tit {
    display: flex;
    gap: 17px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    width: 100%;
    margin: 0 auto 32px auto;
}

#main_center_info .center_tit li {
    position: relative;
    font-size: 18px;
    color: #555;
}

#main_center_info .center_tit li.on {
    color: var(--sc);
    font-weight: 700;
}

#main_center_info .center_tit li~li::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -8px;
    transform: translate(0, -50%);
    height: 12px;
    width: 1px;
    background: #ddd;
}

#main_center_info .center_slide figure {
    position: relative;
    max-width: 1408px;
    width: 100%;
    height: 423.4px;
    opacity: 0.5;
}


#main_center_info figure .img_box {
    position: absolute;
    inset: 0 0 0 0;
    height: 423.4px;
}

@media(max-width:768px) {
    #main_center_info figure .img_box {
        display: none;
    }

    #main_center_info figure .txt_box {
        bottom: 0;
        right: 50%;
        transform: translate(-50%, 0);
    }
}

#main_center_info figure .img_box img {
    height: 100%;
}

#main_center_info .center_slide .swiper-slide-active {
    opacity: 1;
}

#main_center_info .text_con {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(200px, -80px);
    z-index: 998;
    width: 400px;

    background: var(--wc);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#main_center_info .txt_box {
    display: flex;
    flex-direction: column;
    padding: 24px 30px;
    height: 510px;
}

#main_center_info .txt_box span {
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 4px 0;
}

#main_center_info .txt_box h3 {
    position: relative;
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
    margin: 0 0 16px 0;
}

#main_center_info .txt_box strong {
    font-size: 18px;
    font-weight: 800;
    margin: 0 0 12px 0;
}

#main_center_info .txt_box p {
    margin: 0 0 auto 0;
    font-size: 16px;
    line-height: 20px;
    color: #555;
}

#main_center_info .txt_box a {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border: 1px solid var(--mc);
    color: var(--mc);
}

#main_center_info .txt_box a::after {
    content: "\F285";
    font-family: bootstrap-icons;
    font-size: 16px;
    vertical-align: middle;

}

#main_center_info .txt_box a:hover {
    color: var(--wc);
    transition: color .35s;
}

#main_center_info .txt_box a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left;
    background: var(--mc);
    z-index: -1;
}

#main_center_info .txt_box a:hover::before {
    transform: scaleX(1);
    transition: .35s ease-in;
}



#main_center_info .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 998;
    max-width: 1408px;
    width: 100%;
}

#main_center_info .arrows i {
    position: absolute;
    top: 0;
    font-size: 32px;
    padding: 8px 24px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    color: #666;
    cursor: pointer;
}

#main_center_info .arrows i:hover {
    background: var(--mc);
    color: var(--bg);
    transition: .4s;
}

#main_center_info .arrows .left {
    left: 0;
    transform: translate(-50%, -50%);
}

#main_center_info .arrows .right {
    right: 0;
    transform: translate(50%, -50%);
}



#main_center_info .swiper-pagination {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, 0);
}

#main_center_info .swiper-pagination-bullet {
    height: 12px;
    width: 12px;
    border-radius: 0;
}

#main_center_info .swiper-pagination-bullet-active {
    background: var(--mc);
}



#main_health .content {
    position: relative;
    display: flex;
    gap: 20px;
}

#main_health .content::before {
    content: "\F6B0";
    font-family: bootstrap-icons;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    font-size: 80px;
    z-index: -1;
    color: var(--lc);
}

#main_health .content>* {
    flex: 1;
    overflow: hidden;
}

#main_health .research_con {
    flex: 3;
    position: relative;
    padding: 40px 0;
}

#main_health .research_con h3 {
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 24px 0;
}

#main_health .research_con .itm .img_box {
    margin: 0 0 16px 0;
}

#main_health .research_con .itm strong {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
}

#main_health .health_info {
    border-radius: 8px;
    padding: 40px;
    background: var(--lc);
}

#main_health .health_info h3 {
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 24px 0;
}

#main_health .health_slide {
    height: 100%;
}

#main_health .health_slide .img_box {
    margin: 0 0 16px 0;
}


#main_health .health_slide strong {
    display: block;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    margin: 0 0 17px 0;
}





#main_board {
    position: relative;
    background: #f7f7f7;
}



#main_board .title {
    display: flex;
    align-items: center;
}

#main_board .title h2 {
    margin: 0 auto 0 0;
}



#main_board .title .arrows i::before {
    font-size: 24px;
    padding: 0 8px;
    cursor: pointer;
    color: var(--bg);
}


#main_board .title .arrows i:hover::before {
    color: #333;
}

#main_board .title .plus::before {
    padding: 4px;
    font-size: 24px;
    background: var(--bg);
    border-radius: 50%;
}

#main_board .title .plus:hover::before {
    background: var(--mc);
    color: var(--wc);
}

#main_board .notice_con {
    display: flex;
    align-items: center;
}

#main_board .notice_tab {
    flex: 0 0 160px;

}

#main_board .notice_tab a {
    display: block;
    font-size: 20px;
    font-weight: 500;
    color: #777;
    line-height: 40px;
}

#main_board .notice_tab li.on a {
    font-weight: 700;
    color: #333;
}

#main_board .content {
    position: relative;
    height: 240px;
    width: 100%;
    overflow: hidden;

}

#main_board .content .swiper {
    position: absolute;
    inset: 0 0 0 0;
    display: none;
    opacity: 0;

}

#main_board .content .swiper.on {
    display: block;
    opacity: 1;
}


#main_board .content .itm a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 40px;
    background: var(--wc);
    border-radius: 8px;
    border: 1px solid #f7f7f7;
}

#main_board .content .itm span {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: var(--mc);
    margin: 0 0 13px 0;
}

#main_board .content .itm strong {
    display: block;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    margin: 0 0 17px 0;
}

#main_board .content .itm:hover strong {
    color: var(--mc);
}

#main_board .content .itm p {
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    color: #666;
}

#main_board .schedule_slide li {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: #666;
}

#main_contact .inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    /* align-items: center; */
}

#main_contact strong {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    padding: 8px 0;
}

#main_contact strong::after {
    content: "\F64D";
    font-family: bootstrap-icons;
    font-size: 16px;
    padding: 8px;
    background: var(--bg);
    border-radius: 50%;
    cursor: pointer;
}



#main_contact .map_con {
    position: relative;
    height: 400px;
}

#main_contact .map_con ._map {
    position: absolute;
    inset: 0 0 0 0;
    width: 100%;
    height: 100%;
}

#main_contact .root_daum_roughmap .wrap_map {
    position: relative;
    height: calc(100% - 1px);
}

#main_contact .health_tv {
    position: relative;
    overflow: hidden;
}

#main_contact .health_tv .tv_slide img {
    height: 400px;
}

#main_contact .health_tv .arrows {
    position: absolute;
    bottom: 24px;
    right: 24px;
    z-index: 998;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    border-radius: 20px;
}

#main_contact .health_tv .arrows i::before {
    font-size: 20px;
    padding: 8px;
    color: #666;
    cursor: pointer;
}

#main_contact .health_tv .arrows i:hover::before {
    color: var(--mc);
}

#footer {
    padding: 80px 0;
    background: linear-gradient(to bottom, #fff 50%, #666 50%);
}

#footer .top {
    background: var(--bg);
}

#footer .top .footer_menu {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 16px;
    padding: 12px 120px;
}

@media(max-width:768px) {
    #footer .top .footer_menu {
        display: none;
    }
}

#footer .top .footer_menu>li {
    flex: 1;
    font-weight: 600;
    padding: 16px 0;
    border: 1px solid #ccc;
    background: #f5f5f5;
    cursor: pointer;
}

#footer .top .footer_menu>li:hover {
    background: #ccc;
    transition: 0.3s;
}

#footer .bottom {
    background: #444;
}

#footer .bottom .inner {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding: 30px 16px;
}

@media(max-width:768px) {
    #footer .bottom .inner {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    #footer .bottom .footer_link>li {
        font-size: 14px;
    }
}

#footer .bottom .tel a {
    font-size: 24px;
    font-weight: 700;
    color: var(--wc);
}

#footer .bottom .tel i {
    font-size: 24px;
    padding: 6px 8px;
    background: var(--wc);
    color: #444;
    border-radius: 50%;
    margin: 0 16px 0 0;
}

#footer .bottom .footer_link {
    display: flex;
    text-align: center;
    justify-content: center;
}

#footer .bottom .footer_link>li {
    flex: 1;
    font-weight: 600;
    padding: 16px 0;
    border: 1px solid #ccc;
    background: #f5f5f5;
    cursor: pointer;
}

#footer .footer_customer {
    padding: 26px 0 0 0;
}

#footer .footer_customer ul {
    margin: 0 0 18px 0;
}

#footer .footer_customer ul>li {
    position: relative;
    display: inline-block;
    margin-right: 15px;
    font-size: 14px;
    color: var(--bg);
}

#footer .footer_customer ul>li~li::after {
    content: "";
    position: absolute;
    left: -8px;
    top: 50%;
    transform: translate(0, -50%);
    width: 1px;
    height: 12px;
    background: #999;
}

#footer .footer_customer .address {
    color: var(--bg);
}

@media(max-width:768px) {
    #footer .footer_customer ul>li~li::after {
        display: none;
    }
}

#footer .footer_customer ul>li strong {
    font-weight: 700;
}

#aside .link_sns {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 998;
}

#aside .link_sns>li {
    padding: 0 32px 0 16px;
    background: var(--sc);
    border: 1px solid transparent;
    line-height: 64px;
    transform: translateX(100px);
    font-weight: 600;
    cursor: pointer;
}

#aside .link_sns>li:last-child:hover i {
    background: red;
}

#aside .link_sns>li:hover {
    transform: translateX(0);
    background: var(--wc);
    border: 1px solid #f7f7f7;
    transition: .3s;
}

#aside .link_sns>li i {
    font-size: 24px;
    padding: 4px 6px;
    margin: 0 16px 0 0;
    border-radius: 50%;
    vertical-align: middle;
    color: var(--bg);
}

#aside .link_sns>li:hover i {
    background: var(--sc);
}


@media(max-width:768px) {
    #aside .link_sns {
        display: none;
    }
}